@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lpmq";
  src: url(assets/font/lpmq.ttf);
  font-display: swap;
  line-height: 2;
}

@layer utilities {
  @responsive {
    .on-scrollbar {
      scrollbar-width: thin; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }
    .on-scrollbar::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent !important;
    }
    .on-scrollbar::-webkit-scrollbar {
      width: 10px !important;
      --tw-bg-opacity: 1;
      background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    }
    .on-scrollbar::-webkit-scrollbar-thumb {
      --tw-bg-opacity: 1;
      background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
      border-radius: 4px;
    }
    .the-header {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      background-color: hsla(0, 0%, 100%, 0.45);
    }
  }
}

div * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
div *::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent;
}
div *::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
div *::-webkit-scrollbar-thumb {
  background-color: transparent;
}
