@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lpmq";
  src: url(assets/font/lpmq.ttf);
  font-display: swap;
  line-height: 2;
}

@layer utilities {
  @responsive {
    .on-scrollbar {
      scrollbar-width: thin; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }
    .on-scrollbar::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent !important;
    }
    .on-scrollbar::-webkit-scrollbar {
      width: 4px !important;
      background-color: transparent !important;
    }
    .on-scrollbar::-webkit-scrollbar-thumb {
      --tw-bg-opacity: 1;
      background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
    }
    .the-header {
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      background-color: hsla(0, 0%, 100%, 0.75);
    }
  }
}

.bg-quran {
  background-position: center;
  background-repeat: repeat;
  background-size: 400px;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 70%,
      rgba(255, 255, 255, 0.2)
    ),
    url(../public/bg4.png);
}
body {
  background-position: center;
  background-repeat: repeat;
  background-size: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 70%,
      rgba(255, 255, 255, 0.2)
    ),
    url(../public/bg4.png);
}

div * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
div *::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent;
}
div *::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
div *::-webkit-scrollbar-thumb {
  background-color: transparent;
}
